.Search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #121c22;

  .Search__container {
    margin: 0 0.5rem;
    width: 100%;

    .Search__input_container {
      background-color: #212d34;
      display: flex;
      align-items: center;
      border-radius: 999px;
      padding: 0 1rem;

      input {
        padding: 0.5rem;
        border: none;
        outline: none;
        background-color: transparent;
        color: #fff;
        flex: 1;

        &::placeholder {
          color: #d1d7db;
        }
      }

      .MuiSvgIcon-root {
        font-size: 25px;
        color: #d1d7db;
      }
    }
  }

  .MuiSvgIcon-root {
    font-size: 25px;
    color: #d1d7db;
  }
}
