$base-color: #212d34;
$white: #ffffff;
$black: #000000;

@mixin show_icon_button_ewhite_ffect {
  color: $white;
}

.Sidebar {
  height: 100vh;
  flex: 0.3;

  .Sidebar__chats {
    height: 86vh;
    overflow-y: scroll;
  }

  .MuiButtonBase-root {
    @include show_icon_button_ewhite_ffect();
  }
}
